<!DOCTYPE html>
<html>

<head>
<style>
    input[type="submit"]{
        background-color: #4b4741;
        color: #fff;
      margin-top: .625rem;
      padding: .75rem 2.5rem;
      box-shadow: 0px 4px 0px 0px #D58E1F;
      border-radius: 5px;
        border: 0;
      font-weight: bold;
      font-size: 1.375rem;
      letter-spacing: 0.28px;
      text-transform: uppercase;
      font-family: 'Montserrat';
        outline: none;
        &:hover{
            box-shadow: 0px 3px 0px 0px #D58E1F;
            cursor: pointer;
            top: 1px;
            position: relative;
        }
        &:active{
            box-shadow: 0px 0px 0px 0px #D58E1F;
            cursor: pointer;
            top: 4px;
            position: relative;
            
        }
    }    
</style>
</head>
<body>
{% extends "master.html" %}
{% block content %}


<form action="/account_update" role="form" method="post" id="reused_form" enctype="multipart/form-data">
<div class="demo-page">
    <style scoped>
        @import "../static/styles/create_account.css";
    </style>
    <div class="demo-page-navigation">
      <nav>
        <ul>
          <li>
            <a href="#validation">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle">
                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
                <line x1="12" y1="9" x2="12" y2="13" />
                <line x1="12" y1="17" x2="12.01" y2="17" />
              </svg>
              Contact information</a>
          </li>

          <li>
            <a href="#checkbox-and-radio">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
                <polyline points="9 11 12 14 22 4" />
                <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
              </svg>
              Language selection</a>
          </li>

          <li>
            <a href="#other">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server">
                <rect x="2" y="2" width="20" height="8" rx="2" ry="2" />
                <rect x="2" y="14" width="20" height="8" rx="2" ry="2" />
                <line x1="6" y1="6" x2="6.01" y2="6" />
                <line x1="6" y1="18" x2="6.01" y2="18" />
              </svg>
              Additional personal information</a>
          </li>
        </ul>
      </nav>
    </div>
    <main class="demo-page-content">
      <section>
        <div class="href-target" id="structure"></div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
            <polygon points="12 2 2 7 12 12 22 7 12 2" />
            <polyline points="2 17 12 22 22 17" />
            <polyline points="2 12 12 17 22 12" />
          </svg>
          Identification
        </h1>
        <p>
          Modify your personal information now!
        </p>
  
        <div class="nice-form-group">
          <label for="first_name">First name</label>
          <input type="text" value="{{first_name}}" name="first_name" id="first_name" disabled />
        </div>
  
        <div class="nice-form-group">
          <label for="last_name">Last name</label>
          <small>(And add your middle name if you have one!)</small>
          <input type="text" value={{last_name}} name="last_name" id="last_name" disabled/>
        </div>
  
        <div class="nice-form-group">
          <label for="prefered_name">Any prefered name?</label>
          <input type="text" value={{prefered_name}} name="prefered_name" id="prefered_name" required/>
          <small>We'll be using it!</small>
        </div>

      </section>




      <section>
        <div class="href-target" id="validation"></div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle">
            <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
            <line x1="12" y1="9" x2="12" y2="13" />
            <line x1="12" y1="17" x2="12.01" y2="17" />
          </svg>
          Personal details
        </h1>
        <p>
            Alright, make it quick.
          </p>
  
        <div class="nice-form-group">
          <label for="email">Email</label>
          <input type="email" value={{email}} name="email" id="email" value="Please don't fuck it up" required />
        </div>
  
        <div class="nice-form-group">
            <label for="phone_number">Phone number</label>
            <input type="tel" value={{phone_number}} name="phone_number" id="phone_number" class="icon-left" required />
          </div>
        
        <script>
            $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
            });
        </script>

        <div class="nice-form-group">
            <label for="password">Password</label>
            <input type="password" value={{password}} name="password" id="password" class="icon-left" required/>
            <span id="password-toggle" class="fa fa-fw fa-eye field-icon toggle-password" onclick="togglePassword()"></span>
        </div>
      </section>

      <section>
        <div class="href-target" id="checkbox-and-radio"></div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
            <polyline points="9 11 12 14 22 4" />
            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
          </svg>
          Assessment
        </h1>
        <p>
You realy can learn any language, but your main language will be your practice language.
        </p>
        

        <script>
            var parsedLanguage = "{{ language }}";
            var radio1 = document.getElementById(parsedLanguage);
            if (radio1) {
            radio1.checked = true;
            }

            var parsedLevel = "{{ level }}"
            var radio2 = document.getElementById(parsedLevel);
            if (radio2) {
            radio2.checked = true;
            }
        </script>
  
        <fieldset class="nice-form-group">
            <div class="nice-form-group">
                <label for="language">Select the main language you want to learn now</label>
                <select name="language" id="language">
                  <option>Please select a main language: </option>
                  <option value="cs" id="cs">Czech</option>
                  <option value="da" id="da">Danish</option>
                  <option value="nl" id="nl">Dutch</option>
                  <option value="en" id="en">English</option>
                  <option value="nl-BE" id="nl-BE">Flemish</option>
                  <option value="fr" id="fr">French</option>
                  <option value="de" id="de">German</option>
                  <option value="el" id="el">Greek</option>
                  <option value="hi-Latn" id="hi-Latn">hindi</option>
                  <option value="id" id="id">Indonesian</option>
                  <option value="it" id="it">Italian</option>
                  <option value="ko" id="ko">Korean</option>
                  <option value="no" id="no">Norwegian</option>
                  <option value="pl" id="pl">Polish</option>
                  <option value="pt" id="pt">Portuguese</option>
                  <option value="ru" id="ru">Russian</option>
                  <option value="es" id=es>Spanish</option>
                  <option value="sv" id="sv">Swedish</option>
                  <option value="tr" id="tr">Turkish</option>
                  <option value="uk" id="uk">Ukrainian</option>
                </select>
              </div>

              <div class="nice-form-group">
                <label for="level">You think you got better or worse? (hurray.)</label>
                <select name="level" id="level">
                  <option>Please select your current level: </option>
                  <option value="1" id="1">I'm starting my journey with LingoLoom!</option>
                  <option value="2" id="2">I know a few words already. Probably could survive in the foreign country.</option>
                  <option value="3" id="3">I can understand a bit! Can you believe that?</option>
                  <option value="4" id="4">I can write too!</option>
                  <option value="5" id="5">I can speak, write and understand rather easily!</option>
                </select>
              </div>



        </fieldset>
      </section>
  
    
      <section>
        <div class="href-target" id="other"></div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server">
            <rect x="2" y="2" width="20" height="8" rx="2" ry="2" />
            <rect x="2" y="14" width="20" height="8" rx="2" ry="2" />
            <line x1="6" y1="6" x2="6.01" y2="6" />
            <line x1="6" y1="18" x2="6.01" y2="18" />
          </svg>
          Additional information
        </h1>
  
        <div class="nice-form-group">
          <label for="message">Anything else you might want us to know?</label>
          <textarea id="message" rows="5" placeholder="Your message"></textarea>
        </div>
  
        <div class="nice-form-group">
          <label for="age">Age</label>
          <input type="range" value={{age}} min="0" max="120" name="age" id="age" oninput="this.nextElementSibling.value = this.value" />
          <output>{{age}}</output>
        </div>
      </section>
      

        <div class="nice-form-group">
            <input type="submit" value="Update"/>
        </div>
      

      
    </main>
  </div>
  

</form><br><br>


<script>
    function togglePassword() {
        var passwordInput = document.getElementById("password");
        var passwordToggle = document.getElementById("password-toggle");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggle.classList.remove("fa-eye");
            passwordToggle.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            passwordToggle.classList.remove("fa-eye-slash");
            passwordToggle.classList.add("fa-eye");
        }
    }
</script>



{% endblock %}
</body>
</html>