<!DOCTYPE html>
<html>

<head>


</head>

<body>
{% extends "master.html" %}
{% block content %}


<form action="/account_update" role="form" method="post" id="reused_form" enctype="multipart/form-data">


    <label for="full_name"><b>Full name</b></label>
    <input type="text" placeholder={{full_name}} name="full_name" id="full_name" required><br><br>

    <label for="level"><b>German proficiency level</b></label><br>
     <input type="radio" id="just_started" name="proficiency" value="just_started">Just started</input><br>

     <input type="radio" id="early_beginner" name="proficiency" value="early_beginner">I know a few words</input><br>

     <input type="radio" id="beginner" name="proficiency" value="beginner">I can understand a little</input><br>

    <input type="radio" id="early_intermediate" name="proficiency" value="early_intermediate">I can also write a little</input><br>

    <input type="radio" id="intermediate" name="proficiency" value="intermediate">I can speak a little</input><br>

    <input type="radio" id="high_intermediate" name="proficiency" value="high_intermediate">I could survive in Germany</input><br><br>
    
    <label for="age"><b>Age</b></label><br>
    <input type="text" placeholder="{{age}}" name="age" id="age" required><br><br>


    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="{{password}}" name="password" id="password" required><br><br>


    <button type="submit" class="registerbtn">Update</button>



</form>


</body>

{% endblock %}
</body>
</html>