<!DOCTYPE html>
<html>

<head>


</head>

<body>
{% extends "master.html" %}
{% block content %}

<form action="/action_page" role="form" method="post" id="reused_form" enctype="multipart/form-data">


    <label for="full_name"><b>Full name</b></label>
    <input type="text" placeholder="Enter first and last name" name="full_name" id="full_name" required><br><br>

    <label for="level"><b>German proficiency level</b></label><br>
     <input type="radio" id="just_started" name="proficiency" value="just_started">Just started</input><br>

     <input type="radio" id="early_beginner" name="proficiency" value="early_beginner">I know a few words</input><br>

     <input type="radio" id="beginner" name="proficiency" value="beginner">I can understand a little</input><br>

    <input type="radio" id="early_intermediate" name="proficiency" value="early_intermediate">I can also write a little</input><br>

    <input type="radio" id="intermediate" name="proficiency" value="intermediate">I can speak a little</input><br>

    <input type="radio" id="high_intermediate" name="proficiency" value="high_intermediate">I could survive in Germany</input><br><br>
    
    <label for="age"><b>Age</b></label><br>
    <input type="text" placeholder="" name="age" id="age" required><br><br>

    <label for="email"><b>Email</b></label><br>
    <input type="email" placeholder="Enter email" name="email" id="email" required><br><br>

    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter password" name="password" id="password" required><br><br>


    <button type="submit" class="registerbtn">Register</button>



</form>

<a href="/login">Sign in</a>

{% endblock %}
</body>
</html>